<div class="container">
  <h2>Ajouter un nouveau produit</h2>
  <form (ngSubmit)="validerFormulaire()" #formAjout="ngForm">
    <div class="form-group">
      <label for="code">Code :</label>
      <input
        type="text"
        id="code"
        class="form-control"
        [(ngModel)]="nouveauProduit.code"
        name="code"
        required
      />
    </div>
    <div class="form-group">
      <label for="designation">Désignation :</label>
      <input
        type="text"
        id="designation"
        class="form-control"
        [(ngModel)]="nouveauProduit.designation"
        name="designation"
        required
      />
    </div>
    <div class="form-group">
      <label for="prix">Prix :</label>
      <input
        type="number"
        id="prix"
        class="form-control"
        [(ngModel)]="nouveauProduit.prix"
        name="prix"
        required
      />
    </div>
    <div class="form-group">
      <label for="categorie">Catégorie :</label>
      <select
        id="categorie"
        class="form-control"
        [(ngModel)]="nouveauProduit.categorie"
        name="categorie"
      >
        <option *ngFor="let categorie of categories" [ngValue]="categorie">
          {{ categorie.libelle }}
        </option>
      </select>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success">
        <i class="bi bi-plus"></i> Ajouter
      </button>
    </div>
  </form>

  <h2>Liste des produits</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Désignation</th>
        <th>Catégorie</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produits">
        <td>{{ p.id }}</td>
        <td>{{ p.code }}</td>
        <td>{{ p.designation }}</td>
        <td>{{ p.categorie?.libelle }}</td>
        <td>{{ p.prix }}</td>
      </tr>
    </tbody>
  </table>
</div>
